# Configuration file for client side worker_mnist systemd unit template
#python3 run_worker_mnist.py --port 8182 --host localhost --id 0 --verbose

PORT={{ worker_port }}
HOST={{ worker_host_ip }}
ID={{ worker_id }}

