# Configuration file for client side worker_mnist systemd unit template
# example: python3 run_worker_mnist.py --port 8182 --host localhost --id 0 --verbose

WORKER_PORT={{ worker_port }}
WORKER_HOST_IP={{ worker_host_ip }}
WORKER_ID={{ worker_id }}

