# Configuration file for client side wg_setup systemd unit template
#IFACE_NAME={{ wg_interface_name }}
#WG_IPADDR={{ client_ip }}
#CONF_PATH={{ config_path }}

[Unit]
Description=worker_mnist service
After=network.target

[Service]
EnvironmentFile=/etc/bbaaa/worker_mnist.conf
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/python3 run_worker_mnist.py --port ${PORT} --host ${HOST} --id ${ID} --verbose
Restart=on-success
RestartPreventExitStatus=SIGTERM SIGKILL
RestartSec=5

[Install]
WantedBy=multi-user.target
